@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Timeline */

.timeline:after {

  content:  '';
  position: absolute;
  width: 6px;
  background-color: lightsalmon;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;

}

.timeline-container {

  padding: 10px 40px;
  position: relative;
  width: 50%;

}

.timeline-container:after {

  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: whitesmoke;
  border: 4px solid lightsalmon;
  top: 30px;
  border-radius: 50%;
  z-index: 1;

}

.timeline-content {

  padding: 20px 30px;
  border: 1px solid lightsalmon;
  position: relative;
  border-radius: 6px;

}

.timeline-left:before {

  content: " ";
  height: 0;
  position: absolute;
  top: 30px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid lightsalmon;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent lightsalmon;

}

.timeline-left {
  left: 0;
}

.timeline-right:before {

  content: " ";
  height: 0;
  position: absolute;
  top: 30px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid lightsalmon;
  border-width: 10px 10px 10px 0;
  border-color: transparent lightsalmon transparent transparent;

}

.timeline-right {
  left: 50%;
}

.timeline-right:after {
  left: -13px;
}

.timeline-date-right {

  padding: 30px 40px;
  position: absolute;
  left: 50%;
}

.timeline-date-left {

  padding: 30px 40px;
  position: absolute;
  right: 50%;

}